.app_purple_theme {
  --bg-color: #FAF4FB;
  --inverted-bg-color: #890E8F;
  --primary-color: #2E0B6B;
  --secondary-color: #890E8F;
  --inverted-primary-color: #dbd5dc;
  --inverted-secondary-color: #FAF4FB;

  // skeleton
  --skeleton-color: #ffffff;
  --skeleton-shadow: rgba(139 0 255 / 20%);

  //code
  --code-bg: #fff;

  //card
  --card-bg: #c7c7ce;
}
